.messageBoxPreview{
    display: grid;
    grid-template-columns: 4.9rem 1fr;
    align-items: center;
    height: 7.2rem;    
    padding: 1.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    gap: 1.5rem;
}
.messageBoxPreview:hover{
    background-color: var(--hoverBackground-light);
}
.messageBoxPreview-img{

}
.messageBoxPreview-img img{
    width: 4.9rem;
    height: 4.9rem;
    border-radius: 50%;
}

.messageBoxPreview-info{
    text-align: left;  
}

