.messageBoxPreview{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
    padding: 1.5rem;
    height: 7.2rem;
}
.messageBoxPreview-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.messageBoxPreview-img img{
    width: 4.9rem;
    height: 4.9rem;
    border-radius: 50%;
}

.messageBoxPreview-info{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 1rem;
}