.ChatsPreview-nav ul {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.ChatsPreview-nav {
  padding: 1rem 2rem;
}

.ChatsPreview-nav ul li {
  padding: 0 2rem;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ChatsPreview-nav ul li:last-child {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  padding: 0;
}

.ChatsPreview-nav ul li:hover {
  background-color: var(--hover-bg-light);
}
