.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;
  gap: 2.5rem;
  background-color: var(--white);
  height: calc(100dvh - 6.7rem);
}

.profile-avatar-container {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.profile-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile-logout-btn {
  background-color: var(--red);
  color: var(--white);
  padding: 1rem 2.4rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1.5rem;
}

.profile-logout-btn:hover {
  background-color: var(--red-dark);
}

.profile-back-link {
  padding: 0.5rem;
}

.profile-back-link:hover {
  background-color: var(--hover-light);
  border-radius: 50%;
}

@media screen and (min-width: 600px) {
  .profile-back-link {
    display: none;
  }
}

.profile-header-content {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
