
.layout-main {
    display: grid;
    grid-template-columns: clamp(34rem, 30vw, 57rem) 1fr;
}


@media screen and (max-width: 768px) {

    .layout-main {
        grid-template-columns: 1fr;
    }
        .no-display {
        display: none;
    }

}

@media screen and (max-width: 480px) {

    .layout-header {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6rem;
        z-index: 1000;
    }

    main {
        padding-bottom: 6rem;
    }
    .no-display {
        display: none;
    }
    .sectionView{
        height: calc(100vh - 6rem);
    }
}

.sectionView {
    height: calc(100vh - 6rem);
}
.asideView {
    height: calc(100vh - 6rem);
}


@media screen and (max-width: 480px) {
.sectionView {
    height: 100vh;
    border-right: 0.1rem solid var(--gris-oscuro);
}
.asideView {
    height: 100vh;
}
}