.layout-main{
    grid-area: main;
}
.layout-header{
    grid-area: header;
}

.asideView {
    display: none;
}
@media screen and (min-width: 768px) {
    .layout-main {
        display: grid;
        grid-template-columns: clamp(34rem, 30vw, 57rem) 1fr;
    }
    .asideView {
        display: block;
    }  
}
.sectionView{
    height: calc(100vh - 6rem);
    overflow: scroll;
}






