.contactInfoHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.4rem;
    border-bottom: 0.1rem solid var(--gris-oscuro);
    padding: 1rem;
}

.contactInfoHeader-left{
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: center;
}

.contactInfoHeader-right{
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    align-items: center;
}


.contactInfoHeader img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.contact-messages {
    height: calc(100vh - 6.4rem); 
    background-image: url("/img/fondoChatsClaro.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    overflow-y: auto;
}
.message-me,
.message-contact {
    display: flex;
    margin: 8px 0;

}

.message-me {
    justify-content: flex-end;
    text-align: right;


}

.message-contact {
    justify-content: flex-start;
}

.message-me-text{
    background-color: var(--bubleChatMe);
}

.message-contact-text{
    background-color: var(--bubleChatContact);


}