  
.contactInfoHeader {
    background-color: var(--white);
    height: 6.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid var(--borderColorNav);
    padding: 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
  
}
.sideBarContactInfo-container{
    background-color: var(--white);
    height: calc(100vh - 6.4rem);

}
.contactInfoHeader div{
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: center;
}
.contactInfoHeader img{
    max-width: 4rem;
    max-height: 4rem;
    border-radius: 50%;

}

.sideBarContactInfo-contact {
    height: 30rem;
    padding: 2rem;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.1rem solid var(--borderColorNav);
}

.sideBarContactInfo-img{
    width: 20rem;
    height: 20rem;
}

.sideBarContactInfo-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.sideBarContactInfo-options{
    padding: 4rem;
    margin-bottom:  4rem;

}
.sideBarContactInfo-options ul{
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-template-rows: repeat(3, 1fr);
   justify-items: center;
    gap: 1rem;
}
@media (min-width: 768px) {
    .sideBarContactInfo-options ul{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 2rem;
    }
}
.sideBarContactInfo-options-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;

}
.sideBarContactInfo-options-item div{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--borderColorNav);

}
.sideBarContactInfo-actions{
    padding: 2rem;
    max-width: 32rem;
}

.sideBarContactInfo-actions-item{
    max-width: 40rem;
    
}

.sideBarContactInfo-actions-item li{

}

.sideBarContactInfo-actions-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
    text-align: center;
}