.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    width: 100%;
}

.contact-form input {
    border: none;
    border-bottom: 1px solid var(--borderColor);
    outline: none;
    background: transparent;
    padding: 0.8rem 0;
    width: 100%;
}

.contact-form input:focus {
    outline: none;
}

.contact-form input.has-content {
    border-bottom: 1px solid var(--green);
}

.contact-form span.has-content {
    color: var(--green);
}

@media screen and (min-width: 800px) {
    .form-group {
        display: grid;
        grid-template-columns: 4rem 1fr;
        gap: 1.6rem;
        align-items: center;
        justify-content: start;
    }

    .contact-form {
        gap: 6rem;
    }
}




.contact-form .button-group {
    display: flex;
    gap: 1.2rem;
    margin-top: 1.5rem;
    width: 100%;
}

.contact-form button {
    flex: 1;
    padding: 1.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 0.8rem;
}


.contact-form .save-btn {
    color: var(--white);
    background-color: var(--green);
}

.contact-form .save-btn:hover {
    background-color: var(--green-light);

}

.contact-form .cancel-btn {
    color: var(--white);
    font-weight: 600;
    background-color: var(--red);
    border: 1px solid var(--red);
}

.contact-form .cancel-btn:hover {
    background-color: var(--red-dark);
}

.contact-form .disabled-btn {
    background-color: var(--grey-dark);
    color: var(--black-light);
}

.contact-form .disabled-btn:hover {
    cursor: not-allowed;
}