:root {
  --green: #1dab62;
  --green-light: #1dab62b7;
  --green-light1: #d9fdd3;
  --green-light3: var(--green);
  --grey: #f7f5f2;
  --grey-light: #eaeaea;
  --grey-dark: #dedcdade;
  --white: #fff;
  --black-dark: #0a0a0ac9;
  --black-light: #000000af;
  --red: #ff0000;
  --red-light: #ffe6e6;
  --red-dark: rgba(255, 0, 0, 0.473);

  --layout-color: var(--white);
  --backgroundColorNav: var(--grey);
  --borderColor: var(--grey-dark);
  --borderColorNav: var(--borderColor);

  --font: "Roboto", sans-serif;
  --text: var(--black-light);

  /* Bubles Chats */
  --bubleChatContact: var(--white);
  --bubleChatMe: var(--green-light1);

  /* WhatsaAppLogo */
  --whatsappLogo: var(--green);
  /* backgrounds */
  --inputBackground: var(--grey);
  --hover-dark: var(--grey-dark);
  --hover-light: var(--grey-light);
  --hoverBackground-light: var(--hover-light);
  --backgroundHoverDanger: var(--red-light);
  /* boder */
  --boderColor: var(--grey-dark);
  /* input border focus */
  --inputFocus: var(--green);
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body,
#root {
  height: 100dvh;
  background-color: var(--layout-color);
  font-family: var(--font);
  overflow: hidden;
}

body {
  font-size: 1.6rem;
}

/* Globales */
ul,
ol {
  list-style: none;
}

input {
  border: none;
}

a,
a:link,
a:visited,
a:hover,
a:active,
button {
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
}

button {
  font-family: var(--font);
  font-size: 1.4rem;
  color: var(--black-light);
  font-weight: 400;
}

svg {
  color: var(--text);
}

svg.danger,
.danger svg {
  color: var(--red);
}

/* WhatsApp Brand Logo */
.ChatsPreview-header-logo-icon svg {
  color: var(--whatsappLogo);
}

/* Read Status Ticks */
.message-status-ticks svg {
  color: #53bdeb;
}

/* Chat Send Button */
.micro button svg {
  color: var(--green);
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

h1 {
  font-size: 2rem;
  color: var(--black-dark);
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  color: var(--black-dark);
  font-weight: 600;
}

h3 {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black-dark);
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text);
}

.section-header {
  background-color: var(--white);
  height: 6.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.border-bottom {
  border-bottom: 0.2rem solid var(--borderColor);
}

.ContactInfo-img {
  width: 20rem;
  height: 20rem;
}

.ContactInfo-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* utiles */
.label-none {
  display: none;
}

.section-width {
  max-width: 97%;
}

.padding {
  padding: 2rem;
}

.danger {
  color: var(--red);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-margin {
  margin: 0 auto;
}

/*Layout  */

.layout-main {
  grid-area: main;
}

.layout-header {
  grid-area: header;
  background-color: var(--white);
}

.asideView {
  display: none;
  overflow: hidden;
  height: 100dvh;
  border-left: 0.1rem solid var(--borderColor);
  background-color: var(--grey);
}

.sectionView {
  height: calc(100dvh - 8rem);
  background-color: var(--white);
  overflow-y: scroll;
  position: relative;
}

.sectionView:has(.ModalNewMessage) {
  overflow: hidden;
}

/* Estilos móviles por defecto (pantallas < 480px) */
.layout-header.hide-nav-mobile {
  display: none;
}

.layout-main.has-active-contact .sectionView {
  display: none;
}

.layout-main.has-active-contact .asideView {
  display: block;
  width: 100%;
  height: 100dvh;
}

@media screen and (min-width: 600px) {
  .layout {
    grid-template-columns: 6rem 1fr;
    display: grid;
    grid-template-areas: "header main";
  }

  .sectionView {
    height: 100dvh;
  }

  .layout-header.hide-nav-mobile {
    display: block;
  }
}

@media screen and (min-width: 800px) {
  .layout-main {
    display: grid;
    grid-template-columns: clamp(34rem, 30vw, 57rem) 1fr;
  }

  .asideView {
    display: block;
  }

  .layout-main.has-active-contact .sectionView {
    display: block;
  }

  .layout-main.has-active-contact .asideView {
    width: auto;
    height: 100dvh;
  }
}

/* Estilos globales para hacer la barra de scroll transparente y delgada */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}
