.ModalMoreOption-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1500;
}

.ModalMoreOption-container {
  position: absolute;
  top: 4rem;
  right: 0;
  background-color: var(--white);
  border: 1px solid var(--border-color);
  z-index: 1600;
  min-width: 12rem;
  border-radius: 1rem;
  overflow: hidden;
}

.ModalMoreOption-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ModalMoreOption-link {
  display: block;
  padding: 0.8rem 1.2rem;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.4rem;
  text-align: left;
}

.ModalMoreOption-link:hover {
  background-color: var(--hover-bg-light);
}
